<form action="/submit" method="post">
  <% @questions.each do |question| %>
    <div class="block" style="margin-bottom: 1em;">
      <p class="question"><%= question.question %></p>
      <% [question.answer, question.option1, question.option2, question.option3].each do |option| %>
        <label class="option">
          <input type="radio" name="answer_<%= question.id %>" value="<%= ERB::Util.html_escape(option) %>">
          <%= option %>
        </label>
      <% end %>
      <br/>
    </div>
  <% end %>
  <button class="block accent" type="submit">Submit!</button>
</form>
